<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-horizontal">
    <h2>The Power of Connectivity: The Dell EMC Networking Portfolio</h2>
    <p>
      <ion-icon name="calendar"></ion-icon> Sep 14 2018 • 7:30 - 8:00
    </p>
    <p>
      Ethernet, Fiber Channel or Software Defined Networking,
      which is the right choice for you? This session will
      present the various Dell EMC Networking options and
      provide you will a complete overview of our networking offerings.
    </p>
  </div>

  <ion-list>
    <ion-item>
      <ion-icon name="star-half" slot="start"></ion-icon>
      <ion-label>
        <h2>Session rating</h2>
      </ion-label>
      <span class="is-event-details-span" slot="end">Average</span>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="location-sharp"></ion-icon>
      <ion-label>
        <h2>Location</h2>
      </ion-label>
      <span class="is-event-details-span" slot="end">Rome</span>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Speakers</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>John Doe</h2>
        <p>john@doe.com</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Content</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/imgs/album3.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Products List</h2>
        <p>
          All the products you will ever need by Dell.
        </p>
      </ion-label>
      <span slot="end">
        <ion-button size="small" fill="clear" slot="start">
          <ion-icon name="download"></ion-icon>
        </ion-button>
      </span>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/imgs/album6.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Appendix</h2>
        <p>
          A necessary catalog for our products.
        </p>
      </ion-label>
      <span slot="end">
        <ion-button size="small" fill="clear" slot="start">
          <ion-icon name="download"></ion-icon>
        </ion-button>
      </span>
    </ion-item>
  </ion-list>

  <div class="ion-padding-horizontal">
    <ion-grid class="is-grid ion-no-padding">
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" fill="outline">
            <ion-icon name="bookmark" slot="start"></ion-icon>
            <p>
              Favorites
            </p>
          </ion-button>
          <!-- <button ion-button block outline icon-start>
            <ion-icon name="bookmark"></ion-icon>
            <p>
              Remove from My Agenda
            </p>
          </button>    -->
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="block" fill="outline">
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <p>
              Chat
            </p>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <ion-toolbar class="ion-text-center session-action-buttonbar hide">
      <ion-buttons>
        <button ion-button icon-only>
          <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
          Notes
        </button>
        <button ion-button icon-only>
          <ion-icon ios="ios-calendar-outline" md="md-calendar"></ion-icon>
          Add
        </button>
        <button ion-button icon-only>
          <ion-icon ios="ios-camera-outline" md="md-camera"></ion-icon>
          Photo
        </button>
      </ion-buttons>
    </ion-toolbar> -->

  <!-- <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="qr-code"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>
