<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Toggles and Sliders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Checkbox</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Default</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Primary</ion-label>
      <ion-checkbox slot="start" color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Secondary</ion-label>
      <ion-checkbox slot="start" color="secondary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Success</ion-label>
      <ion-checkbox slot="start" color="success"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Danger</ion-label>
      <ion-checkbox slot="start" color="danger"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Warning</ion-label>
      <ion-checkbox slot="start" color="warning"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Dark</ion-label>
      <ion-checkbox slot="start" color="dark"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Light</ion-label>
      <ion-checkbox slot="start" color="light"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mute Normal</ion-label>
      <ion-checkbox slot="start" color="is-mute-normal"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Text Dark</ion-label>
      <ion-checkbox slot="start" color="is-text-dark"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Facebook</ion-label>
      <ion-checkbox slot="start" color="is-facebook"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Twitter</ion-label>
      <ion-checkbox slot="start" color="is-twitter"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>LinkedIn</ion-label>
      <ion-checkbox slot="start" color="is-linkedin"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Checked</ion-label>
      <ion-checkbox slot="start" checked></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Disabled</ion-label>
      <ion-checkbox slot="start" disabled></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-radio-group value="radio13">
      <ion-list-header>
        <ion-label>Radio</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Default</ion-label>
        <ion-radio slot="start" value="radio1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Primary</ion-label>
        <ion-radio slot="start" color="primary" value="radio2"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Secondary</ion-label>
        <ion-radio slot="start" color="secondary" value="radio3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Success</ion-label>
        <ion-radio slot="start" color="success" value="radio4"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Danger</ion-label>
        <ion-radio slot="start" color="danger" value="radio5"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Warning</ion-label>
        <ion-radio slot="start" color="warning" value="radio14"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Dark</ion-label>
        <ion-radio slot="start" color="dark" value="radio6"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Light</ion-label>
        <ion-radio slot="start" color="light" value="radio7"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mute Normal</ion-label>
        <ion-radio slot="start" color="is-mute-normal" value="radio8"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Text Dark</ion-label>
        <ion-radio slot="start" color="is-text-dark" value="radio9"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Facebook</ion-label>
        <ion-radio slot="start" color="is-facebook" value="radio10"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Twitter</ion-label>
        <ion-radio slot="start" color="is-twitter" value="radio11"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>LinkedIn</ion-label>
        <ion-radio slot="start" color="is-linkedin" value="radio12"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Checked</ion-label>
        <ion-radio slot="start" value="radio13"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Toggle</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Default</ion-label>
      <ion-toggle slot="start"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Primary</ion-label>
      <ion-toggle slot="start" color="primary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Secondary</ion-label>
      <ion-toggle slot="start" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Success</ion-label>
      <ion-toggle slot="start" color="success"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Danger</ion-label>
      <ion-toggle slot="start" color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Warning</ion-label>
      <ion-toggle slot="start" color="warning"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Dark</ion-label>
      <ion-toggle slot="start" color="dark"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Light</ion-label>
      <ion-toggle slot="start" color="light"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mute Normal</ion-label>
      <ion-toggle slot="start" color="is-mute-normal"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Toggle Text Dark</ion-label>
      <ion-toggle slot="start" color="is-text-dark"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Facebook</ion-label>
      <ion-toggle slot="start" color="is-facebook"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Twitter</ion-label>
      <ion-toggle slot="start" color="is-twitter"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>LinkedIn</ion-label>
      <ion-toggle slot="start" color="is-linkedin"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Checked</ion-label>
      <ion-toggle slot="start" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Disabled</ion-label>
      <ion-toggle slot="start" disabled></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Sliders</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range color="danger" pin="true" value=60></ion-range>
    </ion-item>

    <ion-item>
      <ion-range color="primary" value=40></ion-range>
    </ion-item>

    <ion-item>
      <ion-range min="100" max="250" color="dark" value=150>
        <ion-label slot="start" class="ion-no-margin ion-padding-end">100</ion-label>
        <ion-label slot="end" class="ion-no-margin ion-padding-start">250</ion-label>
      </ion-range>
    </ion-item>

   <ion-item>
     <ion-range min="20" max="80" step="2" value=50 pin="true" color="secondary">
       <ion-icon size="small" slot="start" name="sunny"></ion-icon>
       <ion-icon slot="end" name="sunny"></ion-icon>
     </ion-range>
   </ion-item>

    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" color="light" value=1100></ion-range>
    </ion-item>

    <ion-item>
      <ion-range dualKnobs="true" min="0" max="200" step="50" snaps="true" value=150 color="success"></ion-range>
    </ion-item>

    <ion-item>
      <ion-range color="primary" value=40 color="is-facebook" disabled></ion-range>
    </ion-item>
  </ion-list>
</ion-content>
