<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Icon List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-list-header>
      <ion-label>Classes</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name='planet' slot="start"></ion-icon>
      <ion-label>Astronomy</ion-label>
      <ion-note slot="end">
        To the moon
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle checked="false" slot="end"></ion-toggle>
      <ion-label>
        Muggle Studies
      </ion-label>
      <ion-icon name='body' slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='leaf' slot="start"></ion-icon>
      <ion-label>Herbology</ion-label>
      <ion-icon name='rose' slot="end" color="secondary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='flask' slot="start"></ion-icon>
      <ion-label>Potions</ion-label>
      <ion-note slot="end">
        Poisonous
      </ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-label>Activities</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Incantation</ion-label>
      <ion-icon name='color-wand' slot="start"></ion-icon>
      <ion-note slot="end">Crucio!</ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle checked="true" slot="end"></ion-toggle>
      <ion-label>
        Quidditch Practice
      </ion-label>
      <ion-icon name='brush' slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='wine' slot="start"></ion-icon>
      <ion-label>Mead Drinking</ion-label>
      <ion-note slot="end">Yes please</ion-note>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-label>Friends</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name='flash' slot="start"></ion-icon>
      <ion-label>Harry</ion-label>
      <ion-note slot="end">The boy who lived</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='book' slot="start"></ion-icon>
      <ion-label>Hermoine</ion-label>
      <ion-note slot="end">Muggle-born</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='beer' slot="start"></ion-icon>
      <ion-label>Ron</ion-label>
      <ion-note slot="end">Brilliant!</ion-note>
    </ion-item>

  </ion-list>

</ion-content>
