<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule Day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding-horizontal">Freelance job from San Fracisco</h1>

  <ion-list class="is-list-colored">
    <ion-item routerLink="/scheduleDay" detail="false" class="is-item-category-success">
      <ion-label>
        <p class="is-color-success">Friends</p>
        <h2>Meeting with George and Alex</h2>
        <p><ion-icon name="location-sharp"></ion-icon> 080 Goldner Pass Apt. 969</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <div class="ion-text-center">
          <p class="ion-no-margin">04:30 PM - 05:00 PM</p>
          <p class="ion-no-margin" class="is-color-primary">
            Get Location
          </p>
        </div>
      </div>
      <div slot="end" class="is-list-colored-button-group">
        <ion-button fill="clear" class="ion-no-padding ion-align-self-center">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleDay" detail="false" class="is-item-category-light">
      <ion-label>
        <p class="is-color-light">Friends</p>
        <h2>Meeting with George and Alex</h2>
        <p><ion-icon name="location-sharp"></ion-icon> 080 Goldner Pass Apt. 969</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <div class="ion-text-center">
          <p class="ion-no-margin">04:30 PM - 05:00 PM</p>
        </div>
      </div>
      <div slot="end" class="is-list-colored-button-group">
        <ion-button slot="end" fill="clear" class="ion-no-padding ion-align-self-center">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleDay" detail="false" class="is-item-category-secondary">
      <ion-label>
        <p class="is-color-secondary">Home</p>
        <h2>Cook a Pizza</h2>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <div class="ion-text-center">
          <p class="ion-no-margin">04:30 PM - 05:00 PM</p>
        </div>
      </div>
      <div slot="end" class="is-list-colored-button-group">
        <ion-button slot="end" fill="clear" class="ion-no-padding ion-align-self-center">
          <ion-icon class="is-color-primary" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
