<ion-header class="is-header-logo-centered ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Subcribers
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
    <ion-row class="ion-padding-top">
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-woody.png">
            <h5>Lorem Ipsum</h5>
            <p>CEO</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-buzz.png">
            <h5>Dolor Sit Amet</h5>
            <p>CTO</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-jessie.png">
            <h5>Dolor Ipsum</h5>
            <p>Project Manager</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-barbie.png">
            <h5>Laboris Nisi</h5>
            <p>UI Designer</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-squeeze.png">
            <h5>Excepter Sint</h5>
            <p>Developer</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-sarge.png">
            <h5>Seserut Molit</h5>
            <p>Project Manager</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-buzz.png">
            <h5>Magna Aliqua</h5>
            <p>UX/UI</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-jessie.png">
            <h5>Nulla Pariatur</h5>
            <p>Designer</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-woody.png">
            <h5>Tempor Incidunt</h5>
            <p>Marketing</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-sarge.png">
            <h5>Voluptate Velit</h5>
            <p>Developer</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-barbie.png">
            <h5>Officia Anim</h5>
            <p>UI Designer</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" class="ion-text-center ion-padding-bottom">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/subscribers">
          <ion-label>
            <img src="assets/imgs/avatar-ts-squeeze.png">
            <h5>Lorem Ipsum</h5>
            <p>Manager</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
