ion-item {
  img {
    border-radius: 100%;
  }
  h5 {
    margin-bottom: 5px;
    margin-top: 16px;
    font-size: 18px;
    white-space: normal;
  }
  p {
    margin-top: 0px;
    white-space: normal;
  }
}
