<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>No Payment Methods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-empty-state-content theme-{{env.theme}}">
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>

    <p class="ion-padding-top ion-padding-horizontal ion-no-margin">
      Your payment methods will appear here
    </p>

    <img src="assets/imgs/empty-wallet-3.png"/>

  </div>
</ion-content>
