<ion-header class="is-header-logo-centered">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Friends</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>A</ion-label>
    </ion-item-divider>
    <ion-item detail="false" routerLink="/friends">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar-ts-woody.png">
      </ion-avatar>
      <ion-label>
        <h2>Andrew Woody</h2>
        <p>@andrew</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/friends">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar-ts-buzz.png">
      </ion-avatar>
      <ion-label>
        <h2>Alex Buzz Lightyear</h2>
        <p>@alex</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/friends">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar-ts-jessie.png">
      </ion-avatar>
      <ion-label>
        <h2>Anton Jessie</h2>
        <p>@anton</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>B</ion-label>
    </ion-item-divider>
    <ion-item detail="false" routerLink="/friends">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar-ts-barbie.png">
      </ion-avatar>
      <ion-label>
        <h2>Barbie</h2>
        <p>@barbie</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>C</ion-label>
    </ion-item-divider>


    <ion-item detail="false" routerLink="/friends">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar-ts-squeeze.png">
      </ion-avatar>
      <ion-label>
        <h2>Clark Squeeze</h2>
        <p>@clark</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/friends">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar-ts-sarge.png">
      </ion-avatar>
      <ion-label>
        <h2>Charlie Sarge</h2>
        <p>@charlie</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="outline">
          <ion-icon name="mail"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>

</ion-content>
