<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="is-grid">
    <ion-row>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
        <div>
          <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
            <ion-label class="ion-padding-vertical">
              <img src="assets/imgs/gmail.png"/>
              <p class="is-tile-caption">
                Gmail
              </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/yahoo.png"/>
                <p class="is-tile-caption">
                  Yahoo
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/mail-ru.png"/>
                <p class="is-tile-caption">
                  Mail.ru
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/yandex.png"/>
                <p class="is-tile-caption">
                  Yandex
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/mail.png"/>
                <p class="is-tile-caption">
                  IMAP
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/outlook.png"/>
                <p class="is-tile-caption">
                  Outlook
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/aol.png"/>
                <p class="is-tile-caption">
                  Aol Mail
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
      <ion-col size="4" class="is-tile is-tile-bordered ion-text-center">
         <div>
            <ion-item lines="none" routerLink="/addAccount" detail="false" class="ion-text-center">
              <ion-label class="ion-padding-vertical">
                <img src="assets/imgs/icloud.png"/>
                <p class="is-tile-caption">
                  iCloud Mail
                </p>
            </ion-label>
          </ion-item> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
