<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buttons and Thumb List Alternative</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding is-list-item-start-buttons-end">
    <ion-list-header>
      <ion-label>Inset List</ion-label>
    </ion-list-header>
    <ion-item class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-icon name="document"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-item-start-buttons-end-title">SuperAgency_Present</p>
        <p>pdf • 34.3mb</p>
      </ion-label>
      <div slot="end" class="is-list-item-start-buttons-end-button-group">
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-icon name="document"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-item-start-buttons-end-title">SuperAgency_Present</p>
        <p>pdf • 34.3mb</p>
      </ion-label>
      <div slot="end" class="is-list-item-start-buttons-end-button-group">
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-icon name="document"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-item-start-buttons-end-title">SuperAgency_Present</p>
        <p>pdf • 34.3mb</p>
      </ion-label>
      <div slot="end" class="is-list-item-start-buttons-end-button-group">
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-icon name="document"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-item-start-buttons-end-title">SuperAgency_Present</p>
        <p>pdf • 34.3mb</p>
      </ion-label>
      <div slot="end" class="is-list-item-start-buttons-end-button-group">
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-thumbnail slot="start">
        <ion-icon name="document"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-item-start-buttons-end-title">SuperAgency_Present</p>
        <p>pdf • 34.3mb</p>
      </ion-label>
      <div slot="end" class="is-list-item-start-buttons-end-button-group">
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="eye"></ion-icon>
        </ion-button>
        <ion-button class="ion-no-margin" fill="clear">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
