<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cloud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="is-list-condensed">
    <ion-item>
      <div slot="start" class="ion-no-margin">
        <img src="assets/imgs/folder.png">
      </div>
      <ion-label>
        <h2>Movies</h2>
        <p>23 files</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons">
        <ion-checkbox></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div slot="start" class="ion-no-margin">
        <img src="assets/imgs/sked.png">
      </div>
      <ion-label>
        <h2>AwareMobile_ver2</h2>
        <p>464.3mb • zip • April 19, 2016</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons">
        <ion-checkbox></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div slot="start" class="ion-no-margin">
        <img src="assets/imgs/photos.png">
      </div>
      <ion-label>
        <h2>Photos</h2>
        <p>92 890 files</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons">
        <ion-checkbox></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div slot="start" class="ion-no-margin">
        <img src="assets/imgs/song.png">
      </div>
      <ion-label>
        <h2>R.E.M-LosingMyReligion</h2>
        <p>3.4mb • mp3 • April 20, 2016</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons">
        <ion-checkbox></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div slot="start" class="ion-no-margin">
        <img src="assets/imgs/mp4.png">
      </div>
      <ion-label>
        <h2>Martian_HDRip</h2>
        <p>1.3gb • mp4 • April 3, 2016</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons">
        <ion-checkbox></ion-checkbox>
      </div>
    </ion-item>
    <ion-item>
      <div slot="start" class="ion-no-margin">
        <img src="assets/imgs/jpg.png">
      </div>
      <ion-label>
        <h2>Sked_Dribble_Shot</h2>
        <p>97kb • jpg • September 2, 2015</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons">
        <ion-checkbox></ion-checkbox>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
