<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule Months</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="is-list-square">
    <ion-item-divider>
      <ion-label>October 2018</ion-label>
    </ion-item-divider>
    <ion-item routerLink="/scheduleMonth" detail="false" class="is-list-square-has-square ion-no-padding">
      <ion-thumbnail slot="start">
        <div><span>30</span><br>Wed</div>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-square-title">Download Fifa 18</p>
        <p class="is-list-square-note"><ion-icon name="flag" class="is-color-primary"></ion-icon> Home <span>• 08:30 AM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleMonth" detail="false" class="ion-no-padding">
      <ion-label>
        <p class="is-list-square-title">Conference Call</p>
        <p class="is-list-square-note"><ion-icon name="flag" class="is-color-light"></ion-icon> Team Work <span>• 02:30 PM - 04:00 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleMonth" detail="false" class="ion-no-padding">
      <ion-label>
        <p class="is-list-square-title">Ride a bike</p>
        <p class="is-list-square-note"><span>06:00 PM - 07:00 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleMonth" detail="false" class="ion-no-padding">
      <ion-label>
        <p class="is-list-square-title">Go to gym</p>
        <p class="is-list-square-note"><span>07:20 PM - 08:20 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleMonth" detail="false" class="is-list-square-has-square ion-no-padding">
      <ion-thumbnail slot="start">
        <div><span>31</span><br>Thu</div>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-square-title">Go to the Zoo</p>
        <p class="is-list-square-note"><ion-icon name="flag" class="is-color-secondary"></ion-icon> Family <span>• 12:00 AM - 01:30 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleMonth" detail="false" class="ion-no-padding">
      <ion-label>
        <p class="is-list-square-title">New Product Presentation</p>
        <p class="is-list-square-note"><span>04:30 PM - 07:30 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-item-group>
  <ion-item-group class="is-list-square">
    <ion-item-divider>
      <ion-label>November 2018</ion-label>
    </ion-item-divider>
    <ion-item routerLink="/scheduleMonth" detail="false" class="is-list-square-has-square ion-no-padding">
      <ion-thumbnail slot="start">
        <div><span>1</span><br>Fri</div>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-square-title">Meeting with Jane</p>
        <p class="is-list-square-note"><span>04:00 PM - 06:00 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/scheduleMonth" detail="false" class="is-list-square-has-square ion-no-padding">
      <ion-thumbnail slot="start">
        <div><span>2</span><br>Sat</div>
      </ion-thumbnail>
      <ion-label>
        <p class="is-list-square-title">Call with George Brown</p>
        <p class="is-list-square-note"><ion-icon name="flag" class="is-color-success"></ion-icon> Business <span>• 03:00 PM</span></p>
      </ion-label>
      <div slot="end">
        <ion-button fill="clear">
          <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-item-group>
</ion-content>
