<ion-header>
  <ion-toolbar color="{{env.theme == 'light' ? 'primary' : ''}}">
    <ion-buttons slot="start">
      <ion-menu-button class="{{env.theme == 'light' ? 'in-toolbar-color' : ''}}"></ion-menu-button>
    </ion-buttons>
    <ion-title>Speakers</ion-title>
  </ion-toolbar>
  <ion-toolbar color="{{env.theme == 'light' ? 'primary' : ''}}">
    <ion-searchbar placeholder="Search" mode="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider sticky="true">
      <ion-label>A</ion-label>
    </ion-item-divider>
    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-1.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Andrew Antony</h2>
        <p>Founder & CEO at Jermains Biology</p>
        <div class="is-tag">Faculty and Stuff</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-2.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Alex Aolor</h2>
        <p>Counselor at Research For All</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider sticky="true">
      <ion-label>B</ion-label>
    </ion-item-divider>
    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-3.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Angie Body</h2>
        <p>Founder & CEO at Jermains Biology</p>
        <div class="is-tag">Faculty and Stuff</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-4.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Owen Bolor</h2>
        <p>Counselor at Research For All</p>
        <div class="is-tag">Faculty and Stuff</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-5.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Endria Belch</h2>
        <p>Account manager at Boloriew logistics</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-6.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Mark Bandor</h2>
        <p>CTO at company</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-7.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Hols Babonie</h2>
        <p>Manager at Research For All</p>
        <div class="is-tag">Faculty and Stuff</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-8.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Derek Balexia</h2>
        <p>CEO at Research For All</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider sticky="true">
      <ion-label>D</ion-label>
    </ion-item-divider>
    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-9.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Ange Doda</h2>
        <p>Founder & CEO at Jermains Biology</p>
        <div class="is-tag">Faculty and Stuff</div>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-10.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Yelwen Dolor</h2>
        <p>Counselor at Company</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-11.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Dandra Duchi</h2>
        <p>Account manager at Boloriew logistics</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false" routerLink="/speakers">
      <div class="is-avatar-container" slot="start">
        <img src="assets/imgs/speaker-12.png">
        <ion-button fill="clear">
          <ion-icon color="primary" name="star"></ion-icon>
        </ion-button>
      </div>
      <ion-label>
        <h2>Sandra Desano</h2>
        <p>Account manager at Boloriew logistics</p>
        <div class="is-tag">Speaker</div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon color="primary" name="chatbox"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-item-group>
</ion-content>
