<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>No Mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-empty-state-content-background">
    <div class="is-empty-state-text">
      <p class="ion-padding-top ion-no-margin">
        You have no mail
      </p>
    </div>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="ion-no-margin">
    <ion-fab-button class="ion-no-margin">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
