<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Events List</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="current">
      <ion-segment-button value="current">
        <ion-label>Current</ion-label>
      </ion-segment-button>
      <ion-segment-button value="past">
        <ion-label>Past</ion-label>
      </ion-segment-button>
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imgs/events1.png">
    <ion-card-content>
      <p>Sep 23 2018 - Sep 24 2018</p>
      <h2>Urban Music Festival</h2>
      <p>Dallas, TX</p>
    </ion-card-content>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-text-right">
        <ion-button fill="clear" size="small">
          Website
        </ion-button>
        <ion-button fill="clear" size="small">
          Register
        </ion-button>
        <ion-button  fill="clear" size="small">
          <ion-icon name="share" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/events2.png">
    <ion-card-content>
      <p>Sep 23 2018 - Sep 24 2018</p>
      <h2>Memorial Festival</h2>
      <p>Austin, TX</p>
    </ion-card-content>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-text-right">
        <ion-button fill="clear" size="small">
          Website
        </ion-button>
        <ion-button fill="clear" size="small">
          Register
        </ion-button>
        <ion-button  fill="clear" size="small">
          <ion-icon name="share" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
