<ion-header class="is-header-logo-centered ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/logo-dark.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h5 class="ion-text-center">Brand</h5>
  <h3 class="ion-text-center">Short-sleeved Denim Shirt</h3>
  <div class="is-price ion-no-padding ion-margin-top ion-margin-bottom">
    <span>$29.99</span>
  </div>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/imgs/product-details-1.jpg"/>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/product-details-2.jpg"/>
    </ion-slide>
  </ion-slides>

  <div class="ion-padding is-section-bordered ion-text-center">
    <ion-button class="button-color ion-no-padding"
                [attr.style]="sanitizer.bypassSecurityTrustStyle('--background: ' + productColors[i].name)"
                *ngFor="let color of productColors; let i = index"
                (click)="toggleSelectedColor(i)">
      <ion-icon *ngIf="color.selected" slot="icon-only" name="checkmark"
                [style.color]="productColors[i].selectedContrast"></ion-icon>
    </ion-button>
  </div>

  <div class="is-section-bordered">
    <div class="ion-padding-horizontal">
      <ion-grid class="ion-no-padding ion-margin-top">
        <ion-row class="is-grid-row-bordered">
          <ion-col size="8" class="ion-padding-horizontal">
            <span>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-icon name="star" color="light"></ion-icon>
            </span>
            <span class="is-rating-text ion-padding-horizontal">3 reviews</span>
          </ion-col>
          <ion-col size="4" class="ion-padding-horizontal">
            <ion-icon name="share" color="light"></ion-icon>
            <span class="ion-padding-start">Share</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-list class="ion-padding ion-no-margin">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-item class="is-select-item">
              <ion-select interface="popover" value="1">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <ion-button expand="block">Add to Cart</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <div class="ion-padding-horizontal ion-margin-bottom">
      <ion-button expand="block" fill="outline">Save</ion-button>
    </div>

  </div>

  <ion-segment class="is-segment-clear is-section-bordered" value="features">
    <ion-segment-button value="product">
      <ion-label>PRODUCT</ion-label>
    </ion-segment-button>
    <ion-segment-button value="brand">
      <ion-label>BRAND</ion-label>
    </ion-segment-button>
    <ion-segment-button value="reviews">
      <ion-label>REVIEWS (4)</ion-label>
    </ion-segment-button>
    <ion-segment-button value="features">
      <ion-label>FEATURES</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="is-section-bordered ion-padding">
    <ion-grid class="ion-no-padding ion-margin-top ion-margin-bottom">
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-start ion-no-padding">
            <h5>Loremo Doloe</h5>
        </ion-col>
        <ion-col size="6" class="ion-text-end ion-no-padding">
          <span>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="light"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="is-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempore repudiandae perspiciatis dolor consequatur reiciendis veritatis.</p>
    <p class="is-date">02 Dec 2016</p>
  </div>

  <div class="is-section-bordered ion-padding">
    <ion-grid class="ion-no-padding ion-margin-top ion-margin-bottom">
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-start ion-no-padding">
            <h5>Loremo Doloe</h5>
        </ion-col>
        <ion-col size="6" class="ion-text-end ion-no-padding">
          <span>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="warning"></ion-icon>
            <ion-icon name="star" color="light"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="is-comment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus tempore repudiandae perspiciatis dolor consequatur reiciendis veritatis.</p>
    <p class="is-date">02 Dec 2016</p>
  </div>
  <div class="is-section-bordered is-review-form ion-padding">
    <ion-grid class="ion-no-padding ion-margin-top ion-margin-bottom">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-start ion-no-padding">
          <ion-button class="button button-color ion-no-padding" fill="outline">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8" class="ion-text-center ion-no-padding">
          <ion-item class="is-review-input">
            <ion-input placeholder="Write review"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="ion-text-end ion-no-padding">
          <ion-button class="button button-color ion-no-padding">
            <ion-icon slot="icon-only" name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
