<ion-header class="is-header-logo-centered ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/logo-dark.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" class="is-slider-page">
    <ion-slide class="ion-padding-bottom">
      <img src="assets/imgs/product-details-1.jpg"/>
      <ion-grid class="ion-no-padding ion-margin-top">
        <ion-row class="ion-align-items-stretch ion-padding-horizontal ion-padding-bottom">
          <ion-col size="9" class="ion-text-left">
            <h3 class="ion-no-margin">Short-sleeved Denim Shirt</h3>
          </ion-col>
          <ion-col size="3" class="ion-text-right">
            <div class="is-price ion-no-padding">
              <span>$29.99</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
          <ion-col size="6" class="ion-text-left">
            <h5 class="ion-no-margin">Brand</h5>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-badge color="success" class="ion-margin-horizontal">New</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="ion-margin-horizontal">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-list class="ion-no-margin">
              <ion-item class="is-select-item">
                <ion-select interface="popover" value="1">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="5" class="ion-align-self-center">
            <ion-button expand="block">Add to Cart</ion-button>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center">
            <ion-button class="button button-color ion-no-padding">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center">
            <ion-button class="button button-color ion-no-padding" fill="outline">
              <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="ion-padding-bottom">
      <img src="assets/imgs/product-details-2.jpg"/>
      <ion-grid class="ion-no-padding ion-margin-top">
        <ion-row class="ion-align-items-stretch ion-padding-horizontal">
          <ion-col size="9" class="ion-text-left">
            <h3 class="ion-no-margin">Lorem sit dolor amit ula</h3>
          </ion-col>
          <ion-col size="3" class="ion-text-right">
            <div class="is-price ion-no-padding">
              <span>$39.99</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
          <ion-col size="6" class="ion-text-left">
            <h5 class="ion-no-margin">Brand</h5>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-badge color="success ion-margin-horizontal">New</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="ion-margin-horizontal">
        <ion-row>
          <ion-col size="3">
            <ion-list class="ion-no-margin">
              <ion-item class="is-select-item">
                <ion-select interface="popover" value="1">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                  <ion-select-option value="4">4</ion-select-option>
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="6">6</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="5" class="ion-align-self-center">
            <ion-button expand="block">Add to Cart</ion-button>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center">
            <ion-button class="button button-color ion-no-padding">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center">
            <ion-button class="button button-color ion-no-padding" fill="outline">
              <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
