<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>No Purchases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="clear" class="ion-float-right">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  <div class="is-empty-state-content">
    <img src="assets/imgs/empty-purchases-1.png"/>
    <h3>No Purchases!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor</p>
  </div>
</ion-content>
