<ion-header class="is-header-logo-centered ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/imgs/logo-dark.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/imgs/commerce-home-1.jpg"/>
      <div class="slide-caption">
        <div class="slide-caption-inner">
          <h2>1st slide title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed.</p>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/commerce-home-2.jpg"/>
      <div class="slide-caption">
        <div class="slide-caption-inner">
          <h2>2nd slide title</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed.</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row class="ion-align-items-center">
    <ion-col size="6" offset="3" class="ion-text-center">
      <h3>Shop by product</h3>
    </ion-col>
    <ion-col size="3" class="ion-text-end ion-padding">
      <p><a routerLink="/commerce-home">All items</a></p>
    </ion-col>
  </ion-row>

  <ion-grid class="is-grid-bordered ion-no-padding">
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-no-padding">
        <ion-item detail="false" routerLink="/commerce-home" lines="none">
          <ion-label class="ion-text-center ion-padding-top ion-padding-bottom">
            <img src="assets/imgs/prod1.png">
            <p class="is-product-category">Accessories</p>
            <p class="is-products-count">12 products</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-item detail="false" routerLink="/commerce-home" lines="none">
          <ion-label class="ion-text-center ion-padding-top ion-padding-bottom">
            <img src="assets/imgs/prod2.png">
            <p class="is-product-category">Accessories</p>
            <p class="is-products-count">12 products</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="6" class="ion-no-padding">
        <ion-item detail="false" routerLink="/commerce-home" lines="none">
          <ion-label class="ion-text-center ion-padding-top ion-padding-bottom">
            <img src="assets/imgs/prod3.png">
            <p class="is-product-category">Accessories</p>
            <p class="is-products-count">12 products</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-item detail="false" routerLink="/commerce-home" lines="none">
          <ion-label class="ion-text-center ion-padding-top ion-padding-bottom">
            <img src="assets/imgs/prod4.png">
            <p class="is-product-category">Accessories</p>
            <p class="is-products-count">12 products</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
