<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thumbnail List Reversed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button>
      <ion-thumbnail slot="end" class="is-icon-thumbnail is-background-dark ion-align-self-start">
        <ion-icon name="archive"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Mailbox</h2>
        <p class="ion-text-wrap">Earth than it’s own satellite, the moon. When you think about it, we regard the moon with such powerful.</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="end" class="is-icon-thumbnail is-background-success ion-align-self-start">
        <ion-icon name="folder-open"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Money</h2>
        <p class="ion-text-wrap">Pain can be defined quite simply as a symptom of some physical hurt or disorder.</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="end" class="is-icon-thumbnail is-background-secondary ion-align-self-start">
        <ion-icon name="pie-chart"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Statistics</h2>
        <p class="ion-text-wrap">Summer is often synonymous with beaches, ballparks and barbecues, all offering tempting snacks.</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="end" class="is-icon-thumbnail is-background-primary ion-align-self-start">
        <ion-icon name="person"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Profiles</h2>
        <p class="ion-text-wrap">The Centers for Disease Control & Prevention on Saturday began distributing cards at airports.</p>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="end" class="is-icon-thumbnail is-background-light ion-align-self-start">
        <ion-icon name="apps"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Sign Up / Login</h2>
        <p class="ion-text-wrap">The Myspace page defines the individual, his or her characteristics, traits, personal choices.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
