<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ordered List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-hero">
    <h1 class="ion-padding-start ion-padding-end ion-padding-top">Mark a Plan That Handy for You</h1>

    <p class="ion-padding-start ion-padding-end ion-padding-bottom">
      If you own an Iphone, you’ve probably already worked out how much.
    </p>
  </div>

  <ion-list class="is-list-ordered ion-padding">
    <ion-item class="is-item-active">
      <ion-thumbnail slot="start" class="is-order-number ion-align-self-start">
        <span>1</span>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Start</h2>
        <p class="ion-text-wrap">Planning to visit Las Vegas or any other vacational resort where casinos are.</p>
      </ion-label>
      <span slot="end" class="is-item-info ion-align-self-start">
        Free
      </span>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" class="is-order-number ion-align-self-start">
        <span>2</span>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Professional</h2>
        <p class="ion-text-wrap">Classified advertising is a form of advertising that is particularly common.</p>
      </ion-label>
      <span slot="end" class="is-item-info ion-align-self-start">
        $29/m
      </span>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" class="is-order-number ion-align-self-start">
        <span>3</span>
      </ion-thumbnail>
      <ion-label class="ion-align-self-start">
        <h2>Business</h2>
        <p class="ion-text-wrap">This article is floated online with an aim to help you find the best dvd printing solution.</p>
      </ion-label>
      <span slot="end" class="is-item-info ion-align-self-start">
        $49/m
      </span>
    </ion-item>
  </ion-list>
</ion-content>
