<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grid Tiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
    <ion-row>
      <ion-col size="6" class="is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="file-tray"></ion-icon>
            <h6 class="is-tile-text">
              Mailbox
            </h6>
            <p class="is-tile-text">
              Every large design company whether it’s a multi-national.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="card"></ion-icon>
            <h6 class="is-tile-text">
              Money
            </h6>
            <p class="is-tile-text">
              When I was just starting 6th grade I got my first job.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="stats-chart"></ion-icon>
            <h6 class="is-tile-text">
              Statistics
            </h6>
            <p class="is-tile-text">
              If you haven’t found relief for migraine, you’re not alone.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="person"></ion-icon>
            <h6 class="is-tile-text">
              Profiles
            </h6>
            <p class="is-tile-text">
              Gas prices are soaring! This has resulted.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="apps"></ion-icon>
            <h6 class="is-tile-text">
              Sign Up / Login
            </h6>
            <p class="is-tile-text">
              Dream interpretation has many forms; it can be done.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item class="ion-text-center" routerLink="/grid-tiles" lines="none" detail="false">
          <ion-label class="ion-no-margin">
            <ion-icon name="heart"></ion-icon>
            <h6 class="is-tile-text">
              Social
            </h6>
            <p class="is-tile-text">
              When television was young, was hugely popular.
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
