<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Headers List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Comedy</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Airplane!</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Caddyshack</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Coming To America</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Action</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Terminator II</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Empire Strikes Back</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Blade Runner</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Horror</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>The Evil Dead</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Poldergeist</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aliens</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
