<ion-header class="is-header-logo-centered">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Followers</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/followers">
          <ion-label class="ion-padding-top">
            <img src="assets/imgs/avatar-ts-woody.png">
            <h6>Andrew Woody</h6>
            <p>@andrew</p>
            <ion-button fill="outline" color="primary">Follow</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/followers">
          <ion-label class="ion-padding-top">
            <img src="assets/imgs/avatar-ts-buzz.png">
            <h6>Alex Buzz Lightyear</h6>
            <p>@alex</p>
            <ion-button fill="outline" color="primary">Follow</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/followers">
          <ion-label class="ion-padding-top">
            <img src="assets/imgs/avatar-ts-jessie.png">
            <h6>Anton Jessie</h6>
            <p>@anton</p>
            <ion-button fill="outline">Following</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/followers">
          <ion-label class="ion-padding-top">
            <img src="assets/imgs/avatar-ts-barbie.png">
            <h6>Barbie</h6>
            <p>@barbie</p>
            <ion-button fill="outline" color="primary">Follow</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/followers">
          <ion-label class="ion-padding-top">
            <img src="assets/imgs/avatar-ts-squeeze.png">
            <h6>Clark Squeeze</h6>
            <p>@clark</p>
            <ion-button fill="outline">Following</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-center is-tile ion-no-padding">
        <ion-item lines="none" class="ion-text-center" detail="false" routerLink="/followers">
          <ion-label class="ion-padding-top">
            <img src="assets/imgs/avatar-ts-sarge.png">
            <h6>Charlie Sarge</h6>
            <p>@charlie</p>
            <ion-button fill="outline">Following</ion-button>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
