<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>No orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-empty-state-content">
    <h3>You have no orders</h3>
    <img src="assets/imgs/empty-purchases-5.png"/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisc</p>
    <ion-fab vertical="bottom" horizontal="center">
      <ion-fab-button class="ion-color ion-color-primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
