ion-header.header-ios ion-toolbar:first-child {
  --border-width: 0.55px;
}
h2 {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: 300;
  color: var(--ion-color-is-text-dark);
}
.is-grid-bordered {
  > ion-row > ion-col {
    border-left: 0;
  }
  .is-product-info {
    display: -ms-flexbox;
    display: flex;
    p {
      margin-left: 10px;
    }
  }
  .is-product-price {
    font-size: 18px;
    margin: 18px 0;
  }
  ion-badge {
    font-size: 10px;
  }
  .is-product-price-old {
    text-decoration: line-through;
    color: var(--ion-color-is-mute-dark);
    font-size: 14px;
  }
}
