<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thumbnail List Clean</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button>
      <ion-thumbnail slot="start" class="is-icon-thumbnail is-background-dark">
        <ion-icon name="archive"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>Mailbox</h2>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="start" class="is-icon-thumbnail is-background-success">
        <ion-icon name="folder-open"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>Money</h2>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="start" class="is-icon-thumbnail is-background-secondary">
        <ion-icon name="pie-chart"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>Statistics</h2>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="start" class="is-icon-thumbnail is-background-primary">
        <ion-icon name="person"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>Profiles</h2>
      </ion-label>
    </ion-item>
    <ion-item button>
      <ion-thumbnail slot="start" class="is-icon-thumbnail is-background-light">
        <ion-icon name="apps"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>Sign Up / Login</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
