<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Condensed Sliding List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search Chats"></ion-searchbar>

  <ion-list class="is-list-condensed">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/avatar.png">
        </ion-avatar>
        <ion-label>
          <h2>Dean Potter</h2>
          <p class="ion-text-wrap">I want to talk about to things that are quite important to me.</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">02:18 PM</p>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="ion-text-capitalize" color="light">Archive</ion-item-option>
        <ion-item-option class="ion-text-capitalize" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/avatar.png">
        </ion-avatar>
        <ion-label>
          <h2>Josephine Stevens</h2>
          <p class="ion-text-wrap">The thing is that I’m quite fond of love.</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">09:14 PM</p>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="ion-text-capitalize" color="light">Archive</ion-item-option>
        <ion-item-option class="ion-text-capitalize" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/avatar.png">
        </ion-avatar>
        <ion-label>
          <h2>Richard Carroll</h2>
          <p class="ion-text-wrap">You sent a photo</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">10:43 PM</p>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="ion-text-capitalize" color="light">Archive</ion-item-option>
        <ion-item-option class="ion-text-capitalize" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/avatar.png">
        </ion-avatar>
        <ion-label>
          <h2>Harry Jensen</h2>
          <p class="ion-text-wrap">But when it comes down to it…</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">07:58 AM</p>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="ion-text-capitalize" color="light">Archive</ion-item-option>
        <ion-item-option class="ion-text-capitalize" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/avatar.png">
        </ion-avatar>
        <ion-label>
          <h2>Carl Dixon</h2>
          <p class="ion-text-wrap">I have a truck. It’s kind of a small truck, but I’m comfortable with myself so that’s okay.</p>
        </ion-label>
        <div slot="end" class="is-condensed-note">
          <p class="ion-no-margin">07:08 PM</p>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="ion-text-capitalize" color="light">Archive</ion-item-option>
        <ion-item-option class="ion-text-capitalize" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
