<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Condensed List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="is-list-condensed">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <p><span>Clayton Scott</span> • Yesterday at 09:02 PM</p>
        <h2>Early access to our super secret new satellite. Be the first to know everything.</h2>
        <p>Earth than it’s own satellite, the moon. When you think about it, we regard the moon with such powerful.</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons ion-no-margin">
        <ion-checkbox></ion-checkbox>
        <ion-icon name="attach"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <p><span>Clayton Scott</span> • Yesterday at 09:02 PM</p>
        <h2>Early access to our super secret new satellite. Be the first to know everything.</h2>
        <p>Earth than it’s own satellite, the moon. When you think about it, we regard the moon with such powerful.</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons ion-no-margin">
        <ion-checkbox></ion-checkbox>
        <ion-icon name="attach"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <p><span>Clayton Scott</span> • Yesterday at 09:02 PM</p>
        <h2>Early access to our super secret new satellite. Be the first to know everything.</h2>
        <p>Earth than it’s own satellite, the moon. When you think about it, we regard the moon with such powerful.</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons ion-no-margin">
        <ion-checkbox></ion-checkbox>
        <ion-icon name="attach"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <p><span>Clayton Scott</span> • Yesterday at 09:02 PM</p>
        <h2>Early access to our super secret new satellite. Be the first to know everything.</h2>
        <p>Earth than it’s own satellite, the moon. When you think about it, we regard the moon with such powerful.</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons ion-no-margin">
        <ion-checkbox></ion-checkbox>
        <ion-icon name="attach"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <p><span>Clayton Scott</span> • Yesterday at 09:02 PM</p>
        <h2>Early access to our super secret new satellite. Be the first to know everything.</h2>
        <p>Earth than it’s own satellite, the moon. When you think about it, we regard the moon with such powerful.</p>
      </ion-label>
      <div slot="end" class="is-list-vertical-buttons ion-no-margin">
        <ion-checkbox></ion-checkbox>
        <ion-icon name="attach"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
