<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="is-tiles is-card-unbordered">
    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item routerLink="/albums" detail="false" lines="none" class="ion-no-padding">
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album1.png">
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"><ion-icon name="play"></ion-icon></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Views</h2>
                <h4>Drake</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item routerLink="/albums" detail="false" lines="none" class="ion-no-padding">
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album2.png">
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"><ion-icon name="play"></ion-icon></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>The Life of Pablo</h2>
                <h4>Kany West</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item routerLink="/albums" detail="false" lines="none" class="ion-no-padding">
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album3.png">
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"><ion-icon name="play"></ion-icon></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Skin</h2>
                <h4>Flume</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item routerLink="/albums" detail="false" lines="none" class="ion-no-padding">
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album4.png">
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"><ion-icon name="play"></ion-icon></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Ology</h2>
                <h4>Galant</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item routerLink="/albums" detail="false" lines="none" class="ion-no-padding">
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album5.png">
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"><ion-icon name="play"></ion-icon></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Love and War</h2>
                <h4>Yellow Claw</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <ion-item routerLink="/albums" detail="false" lines="none" class="ion-no-padding">
            <ion-label class="ion-no-margin">
              <div>
                <img src="assets/imgs/album6.png">
                <ion-fab slot="fixed">
                  <ion-fab-button fill="outline" size="small"><ion-icon name="play"></ion-icon></ion-fab-button>
                </ion-fab>
              </div>
              <ion-card-content class="ion-no-padding">
                <h2>Daydreaming</h2>
                <h4>Radiohead</h4>
              </ion-card-content>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
