<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendar Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding-horizontal">Meeting with George and Alex</h1>

  <ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
    <ion-row>
      <ion-col size="6" class="is-tile ion-no-padding">
        <div class="is-col-header">
          <p>Meeting Time</p>
        </div>
        <h3>
          03:00 PM<br>
          03:30 PM
        </h3>
      </ion-col>
      <ion-col size="6" class="is-tile ion-no-padding">
        <div class="is-col-header">
          <p>Time Left</p>
        </div>
        <h3 class="is-color-success">
          1h 25 min<br>
          34 sec
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-group class="is-list-avatar-buttons">
    <ion-item-divider>
      <ion-label>People</ion-label>
    </ion-item-divider>
    <ion-item routerLink="/calendarEvent" detail="false">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>George Brown</h2>
      </ion-label>
      <div slot="end" class="ion-no-margin">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="chatbox"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <ion-item routerLink="/calendarEvent" detail="false">
      <ion-avatar slot="start">
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>Alex Hunter</h2>
      </ion-label>
      <div slot="end" class="ion-no-margin">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="chatbox"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Location</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <p><ion-icon name="ios-pin"></ion-icon> 080 Goldner Pass Apt. 969</p>
      </ion-label>
      <ion-button fill="clear" slot="end">
        Get location
      </ion-button>
    </ion-item>
  </ion-item-group>
  <div class="ion-text-center">
    <img src="assets/imgs/map.png">
  </div>
</ion-content>
