<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-padding">
    Hello Komol, <br>
    you have 8 tasks
  </h1>

  <ion-list class="is-list-colored">
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-secondary">
      <ion-label>
        <h2>Swimming Time</h2>
        <p>Breaststroke 6x - 50m, Butterfly 6x - 50m.</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          07:30 AM<br>
          08:30 AM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-light">
      <ion-label>
        <h2>Meet with Alice</h2>
        <p><ion-icon name="location-sharp"></ion-icon> 1404 Mya Road Apt. 012</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          10:00 AM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-dark">
      <ion-label>
        <h2>Coffee Break</h2>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          10:30 AM<br>
          11:00 AM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-primary">
      <ion-label>
        <h2>Conference Call</h2>
        <p><ion-icon name="location-sharp"></ion-icon> 321 Petra Lock Apt. 920</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          11:15 AM<br>
          13:15 PM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-secondary">
      <ion-label>
        <h2>Yoga Time</h2>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          02:30 PM<br>
          03:30 PM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-light">
      <ion-label>
        <h2>Meet with George</h2>
        <p><ion-icon name="location-sharp"></ion-icon> 080 Goldner Pass Apt. 969</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          17:00 PM<br>
          18:00 PM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-primary">
      <ion-label>
        <h2>Call with Jane</h2>
        <p>New product presentation</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          18:15 PM<br>
          19:15 PM
        </h3>
      </div>
    </ion-item>
    <ion-item routerLink="/calendar" detail="false" class="is-item-category-dark">
      <ion-label>
        <h2>Watch Movies</h2>
        <p><ion-icon name="location-sharp"></ion-icon> 9902 Maiden St. RI 02852</p>
      </ion-label>
      <div slot="end" class="is-list-colored-button-group">
        <h3>
          20:00 PM<br>
          22:00 PM
        </h3>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
