<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thumbnail List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/imgs/thumbnail-totoro.png">
      </ion-thumbnail>
      <ion-label>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
      </ion-label>
      <ion-button fill="clear" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/imgs/thumbnail-rotla.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Raiders of the Lost Ark</h2>
        <p>Steven Spielberg • 1981</p>
      </ion-label>
      <ion-button fill="clear" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/imgs/thumbnail-ghostbusters.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Ghostbusters</h2>
        <p>Ivan Reitman • 1984</p>
      </ion-label>
      <ion-button fill="clear" slot="end">View</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
