<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dividers List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label>A</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Angola</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Argentina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Armenia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Australia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Austria</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label>B</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Bangladesh</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Belarus</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Belgium</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bhutan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bolivia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Brazil</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label>C</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Cambodia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cameroon</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Canada</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Chile</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>China</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Colombia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Costa Rica</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cuba</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cyprus</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Czech Republic</ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>
